.Trophyxyz {
    text-align: center;
    margin-top: 150px;
    width: 250px;
    margin-left: 40%;
}


.TropfyPara {
    padding-top: 10px;
    color: #0f0f0f;
    font-size: 16px;
    font-family: Quicksand-Light;
}